<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projekt.auto.mbux.overlay"
    android:versionCode="1"
    android:versionName="1.0">

    <overlay
        android:isStatic="true"
        android:priority="1"
        android:targetName="projekt.auto.launcher"
        android:targetPackage="projekt.auto.launcher" />

    <application
        android:allowBackup="false"
        android:hasCode="false"
        android:label="flowUX synesthesia Overlay">

        <meta-data
            android:name="overlay_creator"
            android:value="Gaet" />
        <meta-data
            android:name="overlay_title"
            android:value="flowUX synesthesia - MBUX overlay" />
        <meta-data
            android:name="overlay_description"
            android:value="An MBUX designed overlay for the flowUX launcher" />

    </application>

</manifest>