<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projekt.auto.mbux.overlay"
    android:versionCode="1"
    android:versionName="1.0">

    <overlay
        android:isStatic="true"
        android:priority="1"
        android:targetName="com.google.android.apps.messaging"
        android:targetPackage="com.google.android.apps.messaging" />

    <application
        android:allowBackup="false"
        android:hasCode="false"
        android:label="Android Studio AOSP Overlay" />

</manifest>